{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block links %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'members/css/login.css' %}">
{% endblock links %} 

{% block main %}

<section class="p-4 gradient-form" style="background-color: #eee;">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
        <form method="post" class="row d-flex justify-content-center align-items-center">
          {% csrf_token %}
         <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
  
                  <div class="text-center">
                    <h4 class="mt-1 mb-5 pb-1">We are The Lotus Team</h4>
                  </div>
  
                  <form method="post">
                    <p>Please login to your account</p>
                    
                    {% include 'components/_messages.html' %}
  
                    <div class="form-floating mb-4">
                      {% render_field form.username class="form-control form-control-lg" %}
                      <label class="form-label text-dark" for="{{ form.username.id_for_label }}">Username</label>
                    </div>
  
                    <div class="form-floating mb-4">
                      {% render_field form.password class="form-control form-control-lg" %}
                      <label class="form-label text-dark" for="{{ form.password.id_for_label }}">Password</label>
                    </div>
  
                    <div class="text-center d-grid pt-1 mb-5 pb-1">
                      <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Log
                        in</button>
                     <a class="btn btn-primary btn-lg btn-block mb-3" style="background-color: #3b5998" href="#!"
                     role="button">
                     <i class="fab   fa-google me-2"></i>Continue with Google
                   </a>
                    <a class="btn btn-primary btn-lg btn-block" style="background-color: #55acee" href="#!"
                     role="button">
                     <i class="fab fa-twitter me-2 "></i>Continue with Twitter</a>
                      <a class="text-muted" href="#!">Forgot password?</a>
                    </div>
  
                    <div class="d-flex align-items-center justify-content-center pb-4">
                      <p class="mb-0 me-2">Don't have an account?</p>
                      <a class="btn btn-outline-danger"  href="{% url 'register' %}"
                      role="button">Create New</a>
                    </div> 
                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                  <h4 class="mb-4">We are more than just a company</h4>
                  <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
              </div>
            </div>
          </div>
         </form>
        </div>
        </form>
      </div>
    </div>
  </section>

{% endblock main %}