{% load static %}
<li>
    <div class="d-flex mb-4">
        <div class="pe-2 flex-grow-1" style="width: 75px; min-width: 75px;"><img
                class="rounded-circle shadow-sm img-fluid img-thumbnail"
                src="{% static 'blog_website/img/person-1.jpg' %}" alt=""/></div>
        <div class="ps-2">
            <p class="small mb-0 text-primary">15 Aug 2019</p>
            <h5>Jimmy Roy</h5>
            <p class="text-muted text-sm mb-2">Lorem ipsum dolor sit amet, consetetur sadipscing
                elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                erat, sed diam voluptua. At.</p><a class="reset-anchor text-sm" href="#!"><i
                class="fas fa-share me-2 text-primary"></i><strong>Reply</strong></a>
        </div>
    </div>
    <ul class="list-unstyled">
        <li>
            <div class="d-flex mb-4">
                <div class="pe-2 flex-grow-1" style="width: 75px; min-width: 75px;"><img
                        class="rounded-circle shadow-sm img-fluid img-thumbnail"
                        src="{% static 'blog_website/img/person-2.jpg' %}" alt=""/></div>
                <div class="ps-2">
                    <p class="small mb-0 text-primary">19 Sep 2019</p>
                    <h5>Melissa Johanson</h5>
                    <p class="text-muted text-sm mb-2">Lorem ipsum dolor sit amet, consetetur
                        sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                        magna aliquyam erat, sed diam voluptua. At.</p><a
                        class="reset-anchor text-sm" href="#!"><i
                        class="fas fa-share me-2 text-primary"></i><strong>Reply</strong></a>
                </div>
            </div>
        </li>
    </ul>
</li>